{% extends 'app01/layout/manage.html' %}
{% load dashboard %}

{% block mycss %}
<style>
    .issue-type-count{
        font-size: 25px;
    }
    .color-red a{color:#ff1c1c;}
    .color-blue a{color:#2C7EEA;}
    .color-green a{color:green;}
    .color-yellow a{color:#d58512}
    .color-orange a{color:#ff5500}
    .color-purple a{color:purple;}
    .color-brown a{color:#693a17;}
    .project-creator .avatar,.project-joiner .avatar,.project-activity .avatar{
        width: 40px;
        height: 40px;
        background-color: #1A1A17;
        color: white;
        border-radius: 20px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        display: inline-block;
        margin-left: 10px;
    }
    .project-creator .creator-name,.project-joiner .creator-name{
        display: inline-block;
        margin-left: 10px;
    }
    .project-detail{
        height: 200px;
        margin-left: 10px;
    }
    .project-activity .well{
        display: inline-block;
        margin-left: 10px;
        width: 80%;
    }
    .activity-time{
        text-align: right;
        color: #999;
    }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-line-chart" aria-hidden="true"></i> 新增问题趋势</div>
                <div class="panel-body trend">
                    <div id="container"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-quora" aria-hidden="true"></i> 问题</div>
                        <div class="panel-body">
                            {% for k,v in issue_dict.items %}
                                <div class="col-sm-4">
                                    <div class="issue-type-count color-{{ v.color }}">
                                        <a href="{% url 'app01:issues' request.project.id %}?status={{ k }}">
                                            {{ v.count }}
                                        </a>
                                    </div>
                                    <div class="issue-type-name">
                                        {{ v.type }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-user" aria-hidden="true"></i> 项目成员</div>
                        <div class="panel-body">
                            <div class="project-creator">
                                <h4>创建者</h4>
                                <div>
                                    <div class="avatar">{{ request.project.creator.username.0|upper }}</div>
                                    <div class="creator-name">{{ request.project.creator.username }}</div>
                                </div>
                            </div>
                            <div class="project-joiner">
                                <h4>参与者</h4>
                                {% for project_user in request.project.projectuser_set.all %}
                                    <div>
                                        <div class="avatar">{{ project_user.user.username.0|upper }}</div>
                                        <div class="creator-name">{{ project_user.user.username }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-id-card" aria-hidden="true"></i> 详细</div>
                <div class="panel-body">
                    <table class="project-detail">
                        <tr>
                            <td>项目名称：</td>
                            <td>{{ request.project.name }}</td>
                        </tr>
                        <tr>
                            <td>项目描述：</td>
                            <td>{{ request.project.desc }}</td>
                        </tr>
                        <tr>
                            <td>创建时间：</td>
                            <td>{{ request.project.create_datetime|date:'Y-m-d H:i:s' }}</td>
                        </tr>
                        <tr>
                            <td>项目空间：</td>
                            <td>{% render_space request.project.use_space %} / {{ request.price_policy.price_policy.project_space }}GB</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-refresh" aria-hidden="true"></i> 动态</div>
                <div class="panel-body project-activity">
                    {% for act in activity %}
                        <div class="clearfix">
                            <div class="avatar">{{ act.creator.username.0|upper }}</div>
                            <div class="well well-sm">{{ act.creator }}将问题<b><{{ act.subject }}></b>指派给了: {{ act.assign.username }}</div>
                        </div>
                        <div class="activity-time">{{ act.create_time|date:'Y-m-d H:i:s' }}</div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script>
        let GET_ISSUE_TREND = "{% url 'app01:issue_trend' request.project.id %}"
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        })
        $(function () {
            // 渲染新增问题趋势
            initTrend();
        })

        function initTrend() {
            var config = {
                title: {
                        text: '近一个月内新增问题趋势'
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    type: 'datetime',
                    tickInterval: 24 * 3600 * 1000, // 坐标轴刻度间隔为一星期
                    labels: {
                        formatter: function () {
                            return Highcharts.dateFormat("%m-%d", this.value);
                        },
                        rotation: -30
                    },
                },
                yAxis: {
                        title: {
                                text: '问题数量'
                        }
                },
                credits:{
                    enabled: false
                },

                plotOptions: {
                        series: {
                                label: {
                                        connectorAllowed: false
                                },
                        },
                },
                series: [{
                        data: [

                        ]
                }],
                responsive: {
                        rules: [{
                                condition: {
                                        maxWidth: 500
                                },
                                chartOptions: {
                                        legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                        }
                                }
                        }]
                }
            };
            $.ajax({
                url: GET_ISSUE_TREND,
                type: "GET",
                success: function(ret){
                    console.log(ret.data);
                    config.series[0].data = ret.data;
                    Highcharts.chart("container", config)
                }
            })
        }
    </script>
{% endblock %}