{% extends "app01/base.html" %}
{% load tags %}

{% block mycss %}
    <style>
        .error-msg{
            color: red;
            position: absolute;
            right: 20px;
        }
    </style>
{% endblock %}


{% block title %}注册{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="text-center">注册</h2>
            <form id="regForm">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group clearfix layout">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% if field.name == 'code' %}
                            <div class="row">
                                <div class="col-md-6">{{ field }}<span class="error-msg"></span></div>
                                <div class="col-md-6">
                                    <input type="button" class="btn btn-default btn-block" id="get_sms" value="获取验证码">
                                </div>
                            </div>
                        {% else %}
                            {{ field }}
                            <span class="error-msg"></span>
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <div class="form-group">
                    <input type="button" class="btn btn-lg btn-primary btn-block" id="register_btn" value="注册">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            // 发送验证码
            bindSendSMSEvent();
            bindShowErrorEvent();
            // 注册
            bindRegisterEvent();
        })
        function bindSendSMSEvent(){
            let timer;
            $("#get_sms").click(function () {
                $(".error-msg").empty();
                console.log(timer);
                if (!$("#id_phone").val()){
                    alert("请输入手机号！")
                    return;
                }
                // 不能重复发送验证码
                if (timer!==undefined){
                    return;
                }
                let that = $(this);
                $.ajax({
                    url: "{% url 'app01:send_sms' %}",
                    type: 'get',
                    dataType: 'json',
                    data: {'phone': $("#id_phone").val(),'tpl':'register'},
                    success: function (ret) {
                        // 后台发送成功，显示倒计时
                        console.log(ret);
                        if (ret["status"]){
                            //sendSmsReminder(timer, that);
                            let time = 60;
                            that.addClass("disabled");
                            timer = setInterval(function () {
                                time --;
                                that.val(time+"秒后重新获取");
                                if (time===0){
                                    that.removeClass("disabled").val("获取验证码");
                                    clearInterval(timer);
                                    timer = undefined;
                                }
                            },1000)
                        }else{
                            $.each(ret["msg"], function (key, value) {
                                $("#id_"+key).next().text(value);
                            })
                        }
                    }
                })

            })
        }
        // 页面倒计时效果
        function sendSmsReminder(timer, that) {
            let time = 60;
            that.addClass("disabled");
            timer = setInterval(function () {
                time --;
                that.val(time+"秒后重新获取");
                if (time===0){
                    that.removeClass("disabled").val("获取验证码");
                    clearInterval(timer);
                    timer = undefined;
                }
            },1000)
        }

        function bindShowErrorEvent() {
            $.each($(".layout"), function () {
                if ($(this).children(".error-msg").text()){
                    $(this).addClass("has-error");
                }
            })
        }
        // 注册功能，使用ajax是为了防止因页面刷新而使验证码倒计时一起消失
        function bindRegisterEvent() {
            $("#register_btn").click(function () {
                $(".error-msg").empty();
                $.ajax({
                    url: '/app01/register/',
                    type: 'post',
                    data: $("#regForm").serialize(),
                    success: function (ret) {
                        if(ret["status"]){
                            location.href = ret["url"];
                        }else{
                            $.each(ret["msg"], function (key, value) {
                                $("#id_"+key).next().text(value);
                            })
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}