{% extends 'app01/layout/manage.html' %}
{% load static %}


{% block mycss %}
    <style>
        .content-left{
            min-height: 500px;
            border-right: 1px solid #dddddd;
            padding: 0;
        }
        .content-right{
            min-height: 600px;
            border-left: 1px solid #dddddd;
            margin-left: -1px;
        }
        .panel-body{
            padding: 0;
        }
        .display{
            text-align: center;
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="head clearfix">
            <div class="pull-left">
                <span class="pull-left"><i class="fa-solid fa-book"></i> wiki文档</span>
            </div>
            <div class="pull-right">
                <i class="fa fa-plus-circle text-success" aria-hidden="true"></i> <a href="{% url 'app01:wiki_add' request.project.id %}">添加</a>
                {% if wiki_obj %}
                    <i class="fa fa-pencil text-primary" aria-hidden="true"></i> 
                        <a href="{% url 'app01:wiki_edit' project_id=request.project.id wiki_id=wiki_obj.id %}">编辑</a>
                    <i class="fa fa-trash text-danger" aria-hidden="true"></i> <a href="{% url 'app01:wiki_add' request.project.id %}">删除</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-sm-3 content-left">
            <ul id="wiki_list"></ul>
        </div>
        {% block content-right %}
        <div class="col-sm-9 content-right">
            {% if wiki_obj %}
                {{ wiki_obj.content }}
            {% else %}
            <div class="display">
                <h3>《{{ request.project.name }}》知识文档库</h3>
                <i class="fa fa-plus-circle" aria-hidden="true"></i> <a href="{% url 'app01:wiki_add' request.project.id %}">添加</a> 
            </div>
            {% endif %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'plugin/editor.md-master/src/editormd.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/marked.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/prettify.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/raphael.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/underscore.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/codemirror/lib/codemirror.js' %}"></script>
    <script>
        $(function(){
            initCategory();
            initEditor();
        })
        function initCategory(){
            let WIKI_DETAIL_URL = "{% url 'app01:wiki' request.project.id %}"; 
                $.ajax({
                    url: "{% url 'app01:wiki_list' request.project.id %}",
                    type: 'GET',
                    dataType: 'json',
                    success: function(ret){
                        $.each(ret.data, function(index,value){
                            let href = WIKI_DETAIL_URL + "?id=" + value.id;
                            console.log(value.parent_id);
                            if (!value.parent_id){
                                let li = $("<li>").attr("id", "id_"+value.id).append($("<a>").attr("href", href).text(value.title));
                                $("#wiki_list").append(li).append("<ul>");
                            }else{
                                let li = $("<li>").attr("id", "id_"+value.id).append($("<a>").attr("href", href).text(value.title));
                                $("#id_"+value.parent_id).next().append(li).append("<ul>");
                            }
                        })
                        
                    }
                })
        }
        function initEditor(){
            editormd('editor', {
                placeholder: "请输入内容",
                height: 500,
                path: "" // lib文件夹所在的路径
            }) 
        }    
    </script>
{% endblock %}